<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}Vue application layout{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
</head>
<body>
    <div id="app"></div>
    {{ encore_entry_script_tags('app') }}
</body>
</html>
